.about-page {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .banner {
    width: 100%;
    height: 500px;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(1,1,1,0.5);
  }
  
  .image {
    width: calc(65% - 100px);
    height: 500px;
    padding: 0px 50px;
    filter: brightness(50%);
  }
  
  .history-today {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2% 20%;
    background-color: #f4f4f4;
  }

  .history, .today {
    flex: 1;
    align-items: center;
    text-align: center;
    margin: 0 20px;
  }
  
  .team, .co-creators {
    padding: 50px;
  }

  .co-creators{
    background-color: #f4f4f4;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .team-member, .team-member>a{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 1%;
  }

  .team-member b{
    color: #dfa42e;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .team-member>i {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333;
    object-fit: cover;
  }
  
  .i-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }